{
    "appNameIndex": 0,
    "appNameList": [{
            "appId": "000000000000000000000000",
            "appName": "NoTokenApp"
        }, {
            "appId": "62e52104c0700a038dd110cc",
            "appName": "TestApp",
            "sdktest": {
                "yks1": "00162e52104c0700a038dd110ccQQCKK7MCgSb+YgFhB2MHAHNka3Rlc3QEAHlrczEGAAAAAWEHYwEAAWEHYwIAAWEHYwMAAWEHYwQAAWEHYwUAAWEHYyAAQ7nDMoKTMxbXhQiMGiiKSs8C4CIq0BVU8dvmsCuMJ5U=",
                "yks2": "00162e52104c0700a038dd110ccQQA2EyAElCb+YhRhB2MHAHNka3Rlc3QEAHlrczIGAAAAFGEHYwEAFGEHYwIAFGEHYwMAFGEHYwQAFGEHYwUAFGEHYyAAD91pVv1nA7YcFKcfPK3kLYO6iyDCSndNYEdtYkeQRGU=",
                "yinkaisheng": "00162e52104c0700a038dd110ccSAA9M4cBpib+YiZhB2MHAHNka3Rlc3QLAHlpbmthaXNoZW5nBgAAACZhB2MBACZhB2MCACZhB2MDACZhB2MEACZhB2MFACZhB2MgAEJeLfu57u4Y1nThH1wBTbKDVC1IXjPmgZtPWXnEGBko"
            }
        }, {
            "appId": "5b978bab09b27c0034d252c0",
            "appName": "ProxyApp",
            "sdktest": {
                "yks1": "",
                "yks2": "",
                "yinkaisheng": ""
            }
        }
    ],
    "env": -1,
    "cloudProxy": "10.37.144.157:6779",
    "cloudProxyChecked": false,
    "roomId": "bdsdktest",
    "userId": "''.join(random.choices(string.ascii_lowercase, k=4)) + str(random.randint(1, 10000))",
    "nickName": "test",
    "defaultResolutionComboxIndex": 3,
    "maxEventRowCount": 5000,
    "saveStreamFrameCount": 100,
    "saveScreenFrameCount": 100,
    "startupScriptFile" : "startup.code",
    "resolutionList": [
        "1920*1080 30FPS",
        "1920*1080 15FPS",
        "1280*720 30FPS",
        "1280*720 15FPS",
        "960*540 30FPS",
        "960*540 15FPS",
        "640*480 30FPS",
        "640*480 15FPS",
        "640*360 30FPS",
        "640*360 15FPS",
        "320*240 30FPS",
        "320*240 15FPS"
    ],
    "sceneriosIndex": 1,
    "scenerios": [{
            "name": "加入房间不发布流",
            "code": [
                "exec(util.getFileText('CodeNoPublish.code'))"
            ]
        }, {
            "name": "只启动摄像头不加入房间",
            "code": [
                "exec(util.getFileText('CodeStartCamera.code'))"
            ]
        }, {
            "name": "先加入房间再启动摄像头",
            "code": [
                "exec(util.getFileText('CodeJoinRoomThenPublishCamera.code'))"
            ]
        }, {
            "name": "发第1个摄像头流(不设置宽高)",
            "code": [
                "exec(util.getFileText('CodePublishCamera1Stream(noset).code'))"
            ]
        }, {
            "name": "发第1个摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishCamera1Stream.code'))"
            ]
        }, {
            "name": "发第2个摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishCamera2Stream.code'))"
            ]
        }, {
            "name": "发屏幕分享流",
            "code": [
                "exec(util.getFileText('CodePublishScreenStream.code'))"
            ]
        }, {
            "name": "发摄像头和屏幕分享流",
            "code": [
                "exec(util.getFileText('CodePublishCamera1AndScreenStream.code'))"
            ]
        }, {
            "name": "发自采集流",
            "code": [
                "exec(util.getFileText('CodePublishExternalVideoStream.code'))"
            ]
        }, {
            "name": "先摄像头后自采集流",
            "code": [
                "exec(util.getFileText('CodePublishCameraThenExternalStream.code'))"
            ]
        }, {
            "name": "先自采集后摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishExternalThenCameraStream.code'))"
            ]
        }, {
            "name": "先摄像头后屏幕分享流",
            "code": [
                "exec(util.getFileText('CodePublishCameraThenScreenStream.code'))"
            ]
        }, {
            "name": "先屏幕分享后摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishScreenThenCameraStream.code'))"
            ]
        }, {
            "name": "加入2房间不发流",
            "code": [
                "exec(util.getFileText('CodeNoPublish2Rooms.code'))"
            ]
        }, {
            "name": "加入2房间发1摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishCamera1Stream2Rooms.code'))"
            ]
        }
    ]
}
