{
    "appNameIndex": 0,
    "appNameList": [{
            "appId": "8152rsnsps79581n4199qp3n0s3o3onn",
            "appName": "TestApp",
            "sdktest": {
                "yks1": "00162e52104c0700a038dd110ccQQCeaqwFI9f0YqMR/mIHAHNka3Rlc3QEAHlrczEGAAAAoxH+YgEAoxH+YgIAoxH+YgMAoxH+YgQAoxH+YgUAoxH+YiAAQUQ/j0j81ufAWBUS6DlR5u5Nn1kkIlbXtURq12s3rgI=",
                "yks2": "00162e52104c0700a038dd110ccQQANWg4CR9f0YscR/mIHAHNka3Rlc3QEAHlrczIGAAAAxxH+YgEAxxH+YgIAxxH+YgMAxxH+YgQAxxH+YgUAxxH+YiAAdddXe3ChDksV8/BBsgKDP3TAmuMTe6pvsGSPZ4L0jGk=",
                "yinkaisheng": "00162e52104c0700a038dd110ccSAD7FE4EFeD0YpUa/mIHAHNka3Rlc3QLAHlpbmthaXNoZW5nBgAAAJUa/mIBAJUa/mICAJUa/mIDAJUa/mIEAJUa/mIFAJUa/mIgANRMfZXevxZ4/1PRVavybItNg40FmgHB+MJ16uP3/ho6"
            }
        }
    ],
    "roomId": "sdktest",
    "userId": "yks1",
    "scenerios": [{
            "name": "发第1个摄像头流",
            "code": [
                "exec(util.getFileText('CodeCamera1Stream.py'))"
            ]
        }, {
            "name": "发第2个摄像头流",
            "code": [
                "exec(util.getFileText('CodeCamera2Stream.py'))"
            ]
        }, {
            "name": "发屏幕分享流",
            "code": [
                "exec(util.getFileText('CodeScreenStream.py'))"
            ]
        }, {
            "name": "发自采集流",
            "code": [
                "exec(util.getFileText('CodeExternalStream.py'))"
            ]
        }
    ]
}
