{
    "appNameIndex": 0,
    "appNameList": [{
            "appId": "000000000000000000000000",
            "appName": "NoTokenApp"
        }, {
            "appId": "62e52104c0700a038dd110cc",
            "appName": "TestApp",
            "sdktest": {
                "yks1": "00162e52104c0700a038dd110ccQQCKK7MCgSb+YgFhB2MHAHNka3Rlc3QEAHlrczEGAAAAAWEHYwEAAWEHYwIAAWEHYwMAAWEHYwQAAWEHYwUAAWEHYyAAQ7nDMoKTMxbXhQiMGiiKSs8C4CIq0BVU8dvmsCuMJ5U=",
                "yks2": "00162e52104c0700a038dd110ccQQA2EyAElCb+YhRhB2MHAHNka3Rlc3QEAHlrczIGAAAAFGEHYwEAFGEHYwIAFGEHYwMAFGEHYwQAFGEHYwUAFGEHYyAAD91pVv1nA7YcFKcfPK3kLYO6iyDCSndNYEdtYkeQRGU=",
                "yinkaisheng": "00162e52104c0700a038dd110ccSAA9M4cBpib+YiZhB2MHAHNka3Rlc3QLAHlpbmthaXNoZW5nBgAAACZhB2MBACZhB2MCACZhB2MDACZhB2MEACZhB2MFACZhB2MgAEJeLfu57u4Y1nThH1wBTbKDVC1IXjPmgZtPWXnEGBko"
            }
        }, {
            "appId": "5b978bab09b27c0034d252c0",
            "appName": "ProxyApp",
            "sdktest": {
                "yks1": "",
                "yks2": "",
                "yinkaisheng": ""
            }
        }
    ],
    "env": -1,
    "cloudProxy": "10.37.144.157:6779",
    "cloudProxyChecked": false,
    "roomId": "sr348_on_sdk",
    "userId": "''.join(random.choices(string.ascii_lowercase, k=3)) + str(random.randint(1, 10000))",
    "defaultResolutionComboxIndex": 9,
    "maxEventRowCount": 1000,
    "startupScriptFile" : "",
    "resolutionList": [
        "1920*1080 30FPS",
        "1920*1080 15FPS",
        "1280*720 30FPS",
        "1280*720 15FPS",
        "960*540 30FPS",
        "960*540 15FPS",
        "640*480 30FPS",
        "640*480 15FPS",
        "640*360 30FPS",
        "640*360 15FPS",
        "320*240 30FPS",
        "320*240 15FPS"
    ],
    "scenerios": [{
            "name": "不发布流",
            "code": [
                "exec(util.getFileText('CodeNoPublish.py'))"
            ]
        }, {
            "name": "发第1个摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishCamera1Stream.py'))"
            ]
        }, {
            "name": "发第2个摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishCamera2Stream.py'))"
            ]
        }, {
            "name": "发屏幕分享流",
            "code": [
                "exec(util.getFileText('CodePublishScreenStream.py'))"
            ]
        }, {
            "name": "发摄像头和屏幕分享流",
            "code": [
                "exec(util.getFileText('CodePublishCamera1AndScreenStream.py'))"
            ]
        }, {
            "name": "发自采集流",
            "code": [
                "exec(util.getFileText('CodePublishExternalVideoStream.py'))"
            ]
        }, {
            "name": "先摄像头后自采集流",
            "code": [
                "exec(util.getFileText('CodePublishCameraThenExternalStream.py'))"
            ]
        }, {
            "name": "先自采集后摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishExternalThenCameraStream.py'))"
            ]
        }, {
            "name": "先摄像头后屏幕分享流",
            "code": [
                "exec(util.getFileText('CodePublishCameraThenScreenStream.py'))"
            ]
        }, {
            "name": "先屏幕分享后摄像头流",
            "code": [
                "exec(util.getFileText('CodePublishScreenThenCameraStream.py'))"
            ]
        }
    ]
}
